.color-cell {
  height: 11vw;
}

.color-cell-text {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


/* PALLET 1 */


/* PALLET 2 BLUE */

.clr-p1-blue {
  color: $pl-1-blue;
}

.bk-p1-blue {
  background-color: $pl-1-blue;
}


/* PALLET 1 GREEN */

.clr-p1-green {
  color: $pl-1-green;
}

.bk-p1-green {
  background-color: $pl-1-green;
}


/* PALLET 1 SAND */

.clr-p1-sand {
  color: $pl-1-sand;
}

.bk-p1-sand {
  background-color: $pl-1-sand;
}


/* PALLET 1 WHITE */

.clr-p1-white {
  color: $pl-1-white;
}

.bk-p1-white {
  background-color: $pl-1-white;
}


/* PALLET 1 RED */

.clr-p1-red {
  color: $pl-1-red;
}

.bk-p1-red {
  background-color: $pl-1-red;
}


/* PALLET 2 */


/* PALLET 2 BLUE */

.clr-p2-blue {
  color: $pl-2-blue;
}

.bk-p2-blue {
  background-color: $pl-2-blue;
}


/* PALLET 2 GREEN */

.clr-p2-green {
  color: $pl-2-green;
}

.bk-p2-green {
  background-color: $pl-2-green;
}


/* PALLET 2 YELLOW */

.clr-p2-yellow {
  color: $pl-2-yellow;
}

.bk-p2-yellow {
  background-color: $pl-2-yellow;
}


/* PALLET 2 SAND */

.clr-p2-sand {
  color: $pl-2-sand;
}

.bk-p2-sand {
  background-color: $pl-2-sand;
}


/* PALLET 2 ORANGE */

.clr-p2-orange {
  color: $pl-2-orange;
}

.bk-p2-orange {
  background-color: $pl-2-orange;
}


/* PALLET 3 */


/* PALLET 3 RED */

.clr-p3-red {
  color: $pl-3-red;
}

.bk-p3-red {
  background-color: $pl-3-red;
}


/* PALLET 3 YELLOW */

.clr-p3-yellow {
  color: $pl-3-yellow;
}

.bk-p3-yellow {
  background-color: $pl-3-yellow;
}


/* PALLET 3 GREY */

.clr-p3-grey {
  color: $pl-3-grey;
}

.bk-p3-grey {
  background-color: $pl-3-grey;
}


/* PALLET 3 BLUE */

.clr-p3-blue {
  color: $pl-3-blue;
}

.bk-p3-blue {
  background-color: $pl-3-blue;
}


/* PALLET 3 WHITE */

.clr-p3-white {
  color: $pl-3-white;
}

.bk-p3-white {
  background-color: $pl-3-white;
}


/* PALLET 4 */


/* PALLET 4 GOLD */

.clr-p4-gold {
  color: $pl-4-gold;
}

.bk-p4-gold {
  background-color: $pl-4-gold;
}


/* PALLET 4 ORANGE */

.clr-p4-orange {
  color: $pl-4-orange;
}

.bk-p4-orange {
  background-color: $pl-4-orange;
}


/* PALLET 4 GREY */

.clr-p4-grey {
  color: $pl-4-grey;
}

.bk-p4-grey {
  background-color: $pl-4-grey;
}


/* PALLET 4 WHITE */

.clr-p4-white {
  color: $pl-4-white;
}

.bk-p4-white {
  background-color: $pl-4-white;
}


/* PALLET 4 GREEN */

.clr-p4-green {
  color: $pl-4-green;
}

.bk-p4-green {
  background-color: $pl-4-green;
}
