/* Alter the values below to fit your needs */

// COLORS

// PALLET 1
    $pl-1-blue: #247ba0;
    $pl-1-green: #70c1b3;
    $pl-1-sand: #b2dbbf;
    $pl-1-white: #fff8ed;
    $pl-1-red: #e62739;

// PALLET 2
    $pl-2-blue: #264653;
    $pl-2-green: #2a9d8f;
    $pl-2-yellow: #e9c46a;
    $pl-2-sand: #f4a261;
    $pl-2-orange: #e76f51;

// PALLET 3
    $pl-3-red: #ed6a5a;
    $pl-3-yellow: #f4f1bb;
    $pl-3-grey: #9bc1bc;
    $pl-3-blue: #5ca4a9;
    $pl-3-white: #e6ebe0;

// PALLET 4
    $pl-4-gold: #d6ae57;
    $pl-4-orange: #fe5f55;
    $pl-4-grey: #7e7e7f;
    $pl-4-white: #e5e5e5;
    $pl-4-green: #a9c1a2;

// PADDING KEY VALUES
    $pd-xs: 30px;
    $pd-sm: 5px;
    $pd-sm-md: 10px;
    $pd-md: 15px;
    $pd-md-lg: 20px;
    $pd-lg: 35px;
    $pd-xl: 50px;

//  MARGIN KEY VALUES 
    $mgn-xs: 70px;
    $mgn-sm: 1px;
    $mgn-sm-md: 10px;
    $mgn-md: 15px;
    $mgn-md-lg: 20px;
    $mgn-lg: 35px;
    $mgn-xl: 5em;

// HR KEY VALUES
    $hr-xs: 80%;
    $hr-sm: 80%;
    $hr-sm-md: 89%;
    $hr-md: 99%;
    $hr-md-lg: 99%;
    $hr-lg: 99%;
    $hr-xl: 99%;
