/* Alter the values within the _key_values.scss file */

.pd-top {
  /* smartphones, iPhone, portrait 480x320 phones */
  @media (min-width: 320px) {
    padding-top: $pd-xs;
  }
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  @media (min-width:481px) {
    padding-top: $pd-sm;
  }
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  @media (min-width:641px) {
    padding-top: $pd-md;
  }
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  @media (min-width:961px) {
    padding-top: $pd-md-lg;
  }
  /* big landscape tablets, laptops, and desktops */
  @media (min-width:1025px) {
    padding-top: $pd-lg;
  }
  /* hi-res laptops and desktops */
  @media (min-width:1281px) {
    padding-top: $pd-xl;
  }
}

.pd-btm {
  /* smartphones, iPhone, portrait 480x320 phones */
  @media (min-width: 320px) {
    padding-top: $pd-xs;
  }
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  @media (min-width:481px) {
    padding-top: $pd-sm;
  }
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  @media (min-width:641px) {
    padding-top: $pd-md;
  }
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  @media (min-width:961px) {
    padding-top: $pd-md-lg;
  }
  /* big landscape tablets, laptops, and desktops */
  @media (min-width:1025px) {
    padding-top: $pd-lg;
  }
  /* hi-res laptops and desktops */
  @media (min-width:1281px) {
    padding-top: $pd-xl;
  }
}
