/* Alter the values below to fit your needs */


/* KEY VALUES */
    $xx-xs: 30px;
    $xx-sm: 5px;
    $xx-sm-md: 10px;
    $xx-md: 15px;
    $xx-md-lg: 20px;
    $xx-lg: 35px;
    $xx-xl: 500px;

// Sample Media Queries
.test {
  /* smartphones, iPhone, portrait 480x320 phones */
  @media (min-width: 320px) {}
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  @media (min-width: 481px) {}
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  @media (min-width: 641px) {}
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  @media (min-width: 961px) {}
  /* big landscape tablets, laptops, and desktops */
  @media (min-width: 1025px) {}
  /* hi-res laptops and desktops */
  @media (min-width: 1281px) {}
}
