//Custom Bootstrap Buttons

.btn-outline-white{
	border-color:white;
	color:white;
}

/*This is modifying the btn-primary colors but you could create your own .btn-something class as well*/
.btn-outline-white{
	border-color:white;
	color:white;
}
.btn-outline-white:hover, .btn-outline-white:focus, .btn-outline-white:active, .btn-outline-white.active, .open>.dropdown-toggle.btn-outline-white .btn-outline-white:active:focus{
    color: #000;
    background-color: #fff;
    border-color: #fff; /*set the color you want here*/
    transition: all 1.1s ease;
}