.mobile-color {
  /* smartphones, iPhone, portrait 480x320 phones */
  @media (min-width: 320px) {
    background-color: white;
    color: black !important;
    max-width: 100vw;
    max-height: 100vw;
    margin-top: 60px;
    padding: 60px 50px 60px 50px;
    border-radius: 5px;
  }
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  @media (min-width:481px) {
    background-color: white;
    color: black !important;
    max-width: 100vw;
    max-height: 100vw;
    margin-top: 60px;
    padding: 60px 50px 60px 50px;
    border-radius: 5px;
  }
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  @media (min-width:575px) {
    background-color: white;
    color: black !important;
    max-width: 100vw;
    max-height: 100vw;
    margin-top: 60px;
    padding: 60px 50px 60px 50px;
    border-radius: 5px;
  }
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  @media (min-width:700px) {
    background-color: white;
    color: black !important;
    width: 100%;
    max-height: 100vw;
    padding: 60px 50px 60px 50px;
    border-radius: 5px;
    margin-top: 60px;
  }
  @media (min-width:741px) {
    background-color: white;
    color: black !important;
    width: 100%;
    max-height: 100vw;
    margin-top: 20px;
    padding: 60px 50px 60px 50px;
    border-radius: 5px;
  }
  @media (min-width:865px) {
    background-color: white;
    color: black !important;
    width: 100%;
    max-height: 100vw;
    margin-top: 20px;
    padding: 60px 50px 60px 50px;
    border-radius: 5px;
  }
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  @media (min-width:961px) {
    color: white;
    background-color: transparent;
    position: fixed;
    margin-top: 0px;
    padding: 0px;
    width: 100%;
    height: 55px;
    padding-right: 40px;
  }
  /* big landscape tablets, laptops, and desktops */
  @media (min-width:1025px) {
    color: white;
    background-color: transparent;
    position: fixed;
    padding-right: 40px;
  }
  /* hi-res laptops and desktops */
  @media (min-width:1281px) {
    color: white;
    background-color: transparent;
    position: fixed;
    padding-right: 40px;
  }
}

.navbar-light .navbar-toggler {
  border-color: white;
  font-size: 20px;
  background-image: url("");
}

nav {
  font-family: raleway;
  font-weight: 100;
  margin: 0 auto;
  color: white;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 55px;
  opacity: 60;
}

nav.navbar {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

nav.navbar {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-transform: lowercase;
}

.navbar {
  background-color: transparent;
}

nav.navbar.transparent {
  background-color: #fff;
}

.nav-link {
  /* smartphones, iPhone, portrait 480x320 phones */
  @media (min-width: 320px) {
    color: black;
  }
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  @media (min-width:481px) {
    color: black;
  }
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  @media (min-width:575px) {
    color: black;
  }
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  @media (min-width:641px) {
    color: black;
  }
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  @media (min-width:961px) {
    color: white;
  }
  /* big landscape tablets, laptops, and desktops */
  @media (min-width:1025px) {
    color: white;
  }
  /* hi-res laptops and desktops */
  @media (min-width:1281px) {
    color: white;
  }
}

// .nav [aria-expanded="true"]{
//   /* smartphones, iPhone, portrait 480x320 phones */
//   @media (min-width: 320px) {
//     background-color: white !important;
//   }
//   /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
//   @media (min-width:481px) {
//     background-color: white !important;
//   }
//   /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
//   @media (min-width:575px) {
//     background-color: white !important;
//   }
//   /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
//   @media (min-width:641px) {
//     background-color: white !important;
//   }
//   /* tablet, landscape iPad, lo-res laptops ands desktops */
//   @media (min-width:961px) {
//     background-color: transparent;
//   }
//   /* big landscape tablets, laptops, and desktops */
//   @media (min-width:1025px) {
//     background-color: transparent;
//   }
//   /* hi-res laptops and desktops */
//   @media (min-width:1281px) {
//     background-color: transparent;
//   }
// }
.nav-navbar a:hover {
  color: blue;
}

ul.nav a:hover {
  color: red !important;
}

.navbar-brand:focus,
.navbar-brand:hover {
  color: red !important;
  text-transform: uppercase;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-toggler:focus,
.navbar-light .navbar-toggler:hover {
  background-color: red;
  border-color: red !important;
}

.fa-bars {
  color: white;
  border-color: white;
}

.navbar-brand {
  text-transform: none;
  color: white;
}

